<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>微信</string>
	<string>QQ</string>
	<string>微博</string>
	<string>知乎</string>
	<string>抖音</string>
	<string>钉钉</string>
</array>
</plist>
